#cabecalho{
    color: #066a75;
    text-align: center;
}
#botao{
    background-color: #4ab3c6;
    color: #fff;
    height: 30px;
    width: 310px;
    border-radius: 4px;
}
input, select{
    width: 310px;
    margin-bottom: 20px;
    display: block;
    height: 20px;
}
div{
    border: 2px inset #066a75;
    padding: 20px;
    width: 320px;
    margin: 0 auto;
    border-radius: 5px;
}
#TxTotalSal{
    background-color: #cee1e4;
    border: none;
    height: 25px;
    border-radius: 3px;
}
#SelCargo{
    height: 30px;
}
