#cabecalho{
    color: #066a75;
    text-align: center;
}
#botao{
    background-color: #4ab3c6;
    color: #fff;
    height: 35px;
    border-radius: 4px;
}
input, select{
    width: 300px;
    margin-bottom: 20px;
    display: block;
}
div{
    border: 2px inset #066a75;
    padding: 20px;
    width: 320px;
    margin: 0 auto;
    border-radius: 5px;
}
